#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 800px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_1 {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 1280px;
  height: 801px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: -2px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_1 {
  width: 1275px;
  height: 94px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_1 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_65 {
  position: absolute;
  top: 19px;
  left: 56px;
  width: 263px;
  height: 59px;
  background-color: #EEEEEE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_65 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_65 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_65 span#rtr-s-Label_65_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_10 {
  position: absolute;
  top: 47px;
  left: 1146px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 99px;
  left: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_5 {
  width: 1278px;
  height: 40px;
  background-color: #6ACB9A;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_5 .verticalalign {
  vertical-align: middle;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_30 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_30 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_30 span#rtr-s-Label_30_1 {
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_31 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_31 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_34 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_34 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_36 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_36 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_66 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_66 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_66 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_66 span#rtr-s-Label_66_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_67 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_67 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_67 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Label_67 span#rtr-s-Label_67_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_6 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_7 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_8 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_9 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 171px;
  left: 51px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_10 {
  width: 795px;
  height: 174px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  overflow: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_10 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_15 {
  position: absolute;
  top: 64px;
  left: 582px;
  width: 81px;
  height: 60px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_15 span#rtr-s-Button_15_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_4 {
  position: absolute;
  top: -2px;
  left: 32px;
  width: 735px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Apple Braille',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Braille',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Braille',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_2 {
  position: absolute;
  top: 85px;
  left: 47px;
  width: 170px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_1 {
  position: absolute;
  top: 124px;
  left: 47px;
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_2 {
  position: absolute;
  top: 150px;
  left: 47px;
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_3 {
  position: absolute;
  top: 53px;
  left: 47px;
  width: 248px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_14 {
  position: absolute;
  top: 75px;
  left: 47px;
  width: 254px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_1 {
  position: absolute;
  top: 107px;
  left: 47px;
  width: 489px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_5 {
  position: absolute;
  top: 150px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_13 {
  position: absolute;
  top: 120px;
  left: 67px;
  width: 533px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 382px;
  left: 50px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_11 {
  width: 795px;
  height: 174px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  overflow: hidden;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_11 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_16 {
  position: absolute;
  top: 64px;
  left: 582px;
  width: 81px;
  height: 60px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_16 span#rtr-s-Button_16_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_7 {
  position: absolute;
  top: 85px;
  left: 47px;
  width: 170px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_3 {
  position: absolute;
  top: 124px;
  left: 47px;
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_4 {
  position: absolute;
  top: 150px;
  left: 47px;
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_8 {
  position: absolute;
  top: 53px;
  left: 47px;
  width: 248px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_15 {
  position: absolute;
  top: 75px;
  left: 47px;
  width: 254px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_2 {
  position: absolute;
  top: 107px;
  left: 47px;
  width: 489px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_9 {
  position: absolute;
  top: 150px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_16 {
  position: absolute;
  top: 120px;
  left: 67px;
  width: 533px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_10 {
  position: absolute;
  top: -2px;
  left: 31px;
  width: 735px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Apple Braille',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Braille',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Braille',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_17 {
  position: absolute;
  top: 449px;
  left: 635px;
  width: 81px;
  height: 60px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_3 {
  position: absolute;
  top: 492px;
  left: 100px;
  width: 489px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_18 {
  position: absolute;
  top: 486px;
  left: 115px;
  width: 531px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_19 {
  position: absolute;
  top: 500px;
  left: 115px;
  width: 531px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 {
  position: absolute;
  top: 34px;
  left: 349px;
  padding-left: 14px;
  width: 505px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_154 > svg {
  width: 33px;
  height: 24px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_154 {
  position: absolute;
  top: 71px;
  left: 893px;
  width: 33px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_28 > svg {
  width: 39px;
  height: 38px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_28 {
  position: absolute;
  top: 34px;
  left: 890px;
  width: 39px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_15 > svg {
  width: 53px;
  height: 40px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Image_15 {
  position: absolute;
  top: 56px;
  left: 957px;
  width: 53px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_12 {
  position: absolute;
  top: 35px;
  left: 1125px;
  width: 130px;
  height: 21px;
  background-color: #FC3768;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC3768;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FC3768;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FC3768;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FC3768;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_1 {
  position: absolute;
  top: 41px;
  left: 957px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b0642c7-fdb5-4cdd-8234-568a4ecf34a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}