#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2da1185a-49ce-4f6d-8f2a-5cb0f5a97e38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}