#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41981d44-a31a-4af1-af00-120f8200b901 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}