#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53690ed3-ee89-43ff-b2dc-9c5266fd1e1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}