#s-6c0a0102-35db-4659-8977-82f83e510174 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 800px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 801px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: -2px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_1 {
  width: 1275px;
  height: 94px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_1 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_65 {
  position: absolute;
  top: 19px;
  left: 56px;
  width: 263px;
  height: 59px;
  background-color: #EEEEEE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_65 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_65 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_65 span#rtr-s-Label_65_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 {
  position: absolute;
  top: 32px;
  left: 349px;
  padding-left: 14px;
  width: 505px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_10 {
  position: absolute;
  top: 47px;
  left: 1146px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_154 > svg {
  width: 33px;
  height: 24px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_154 {
  position: absolute;
  top: 69px;
  left: 893px;
  width: 33px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_28 > svg {
  width: 39px;
  height: 38px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_28 {
  position: absolute;
  top: 32px;
  left: 890px;
  width: 39px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_15 > svg {
  width: 53px;
  height: 40px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Image_15 {
  position: absolute;
  top: 56px;
  left: 957px;
  width: 53px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_12 {
  position: absolute;
  top: 35px;
  left: 1125px;
  width: 130px;
  height: 21px;
  background-color: #FC3768;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC3768;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FC3768;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FC3768;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FC3768;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_1 {
  position: absolute;
  top: 41px;
  left: 957px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 99px;
  left: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_5 {
  width: 1278px;
  height: 40px;
  background-color: #6ACB9A;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_5 .verticalalign {
  vertical-align: middle;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_30 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_30 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_31 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_31 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_34 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_34 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_36 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_36 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_66 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_66 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_66 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_66 span#rtr-s-Label_66_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_67 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_67 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_67 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_67 span#rtr-s-Label_67_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_6 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_9 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_10 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_11 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_32 {
  position: absolute;
  top: 100px;
  left: 1px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_32 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_32 span#rtr-s-Label_32_1 {
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_33 {
  position: absolute;
  top: 100px;
  left: 143px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_33 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_35 {
  position: absolute;
  top: 100px;
  left: 254px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_35 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_37 {
  position: absolute;
  top: 100px;
  left: 314px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_37 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_68 {
  position: absolute;
  top: 100px;
  left: 470px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #6ACB9A;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_68 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_68 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Label_68 span#rtr-s-Label_68_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 332px;
  height: 160px;
  position: absolute;
  overflow: hidden;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Callout_1 .content {
  width: 332px;
  height: 160px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Callout_1 {
  position: absolute;
  top: 254px;
  left: 474px;
  width: 332px;
  height: 214px;
  background-color: #57A0D5;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #shapewrapper-s-Callout_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_13 {
  position: absolute;
  top: 351px;
  left: 563px;
  width: 130px;
  height: 21px;
  background-color: #6EFECD;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_2 {
  position: absolute;
  top: 288px;
  left: 541px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_3 {
  position: absolute;
  top: 307px;
  left: 550px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6c0a0102-35db-4659-8977-82f83e510174 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}