#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75246e25-7a71-4a4f-bae1-646767908fde > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}