#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-762f76f5-6ee6-4e48-b3d3-c3079ac758ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}