#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f39a532-f92c-4cfd-9fe2-e47d7820756a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}