#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a78b3a3-54f0-4950-9134-9b0cf9f99e17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}