#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab616de0-d136-405b-87e6-e8bf98881903 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}