#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3f8827c-1640-42a0-b6c1-b0b9c46d90b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}