#s-e29bfc17-025f-47e2-997b-1522cdca11b6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 800px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 801px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: -2px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_1 {
  width: 1275px;
  height: 94px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_1 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_65 {
  position: absolute;
  top: 19px;
  left: 56px;
  width: 263px;
  height: 59px;
  background-color: #EEEEEE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 30.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_65 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_65 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_65 span#rtr-s-Label_65_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_10 {
  position: absolute;
  top: 47px;
  left: 1146px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_12 {
  position: absolute;
  top: 33px;
  left: 1125px;
  width: 130px;
  height: 21px;
  background-color: #FC3768;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC3768;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FC3768;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FC3768;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FC3768;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_1 {
  position: absolute;
  top: 39px;
  left: 976px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Al Bayan',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Al Bayan',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 99px;
  left: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_2 {
  width: 1278px;
  height: 40px;
  background-color: #6ACB9A;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACB9A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACB9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACB9A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACB9A;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_2 .verticalalign {
  vertical-align: middle;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_29 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: #E7E7E7;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_29 span {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_31 {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_31 span {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #777777;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_3 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_4 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_5 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_6 {
  width: 1181px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 171px;
  left: 51px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_7 {
  width: 842px;
  height: 245px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  overflow: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_7 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_13 {
  position: absolute;
  top: 98px;
  left: 686px;
  width: 130px;
  height: 21px;
  background-color: #FD676A;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD676A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FD676A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FD676A;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_3 {
  position: absolute;
  top: 78px;
  left: 379px;
  width: 199px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_2 {
  position: absolute;
  top: 21px;
  left: 17px;
  width: 310px;
  height: 203px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 445px;
  left: 51px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_8 {
  width: 842px;
  height: 245px;
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: none;
  overflow: hidden;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_8 .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_14 {
  position: absolute;
  top: 98px;
  left: 686px;
  width: 130px;
  height: 21px;
  background-color: #FD676A;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD676A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FD676A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FD676A;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Button_14 span#rtr-s-Button_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_4 {
  position: absolute;
  top: 78px;
  left: 379px;
  width: 199px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_3 {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 310px;
  height: 203px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 {
  position: absolute;
  top: 36px;
  left: 380px;
  padding-left: 14px;
  width: 505px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_154 > svg {
  width: 33px;
  height: 24px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_154 {
  position: absolute;
  top: 71px;
  left: 918px;
  width: 33px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_28 > svg {
  width: 39px;
  height: 38px;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 #s-Image_28 {
  position: absolute;
  top: 34px;
  left: 915px;
  width: 39px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e29bfc17-025f-47e2-997b-1522cdca11b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}