#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7fd3ced-d1ac-4fe0-b88f-d85014ddc628 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}