#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed542a67-a86e-44c4-b006-155de8e714fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}